<!-- 管理者がログインしているかどうか -->
        <% if manager_signed_in? %>
            <div class="row well">
              <div class="col-lg-4">しゃららん</div>
              <div class="row">
                <span class="col-lg-1 glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="col-lg-4">管理者様</div>
              </div>
            </div>
          </div>
        <% end %>