<!-- 管理者がログインしているかどうか -->
        <% if manager_signed_in? %>
            <div class="Mnager-header">
              <div class="Mnager-header-logo">しゃららん</div>
              <div class="Mnager-header-text">管理者様</div>
            </div>
        <% end %>