	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="page-header">
					<h1 class="title-head">ご注文内容のご確認</h1>
				</div>
			</div>
		</div>


		<div class="row">
			
				<div class="cart-role">
					<ul class="ec-progress">
						<div class="col-md-2 md-offset-2">
						<li class="ec-progress-item">
							<div class="ec-progress__number">1</div>
							<div class="ec-progress__label">カートの商品</div>
						</li>
					</div>
					<div class="col-md-2 md-offset-2">
						<li class="ec-progress-item">
							<div class="ec-progress__number">2</div>
							<div class="ec-progress__label">お届け先・支払い方法の選択</div>
						</li>
					</div>
						<li class="ec-progress-item">
							<div class="ec-progress__number">3</div>
							<div class="ec-progress__label">ご注文内容のご確認</div>
						</li>
						<li class="ec-progress-item">
							<div class="ec-progress__number">4</div>
							<div class="ec-progress__label">ご注文完了</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

