<!-- 購入履歴詳細画面を表示する -->

<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="page-header">
					<h2 class="title-head">ご注文履歴詳細</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
						<div class="col-md-4">
							<label>お届け先住所</label>
							<br/>
							<label2>
								<%= @customer.last_name + @customer.first_name + "様" %>
							</label2>
							<br/>
							<label2>
								<%= order.id.postal_code1 %>
							</label2>

						</div>
					</div>
				</div>
			</div>
		</div>








					<div class="col-md-4">
							<label>ご注文状況</label>: :
						<label>
							<%= @order_detail.status %>
						</label>
					</div>



</div>