<div class = "container">
	<div class = "col-xs-9" style= "background-color:white;">
		<h1>顧客一覧</h1>
		<table class = "table table-striped">
			<tr>
				<th>顧客番号</th>
				<th>名前</th>
				<th>電話番号</th>
			</tr>
			<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %>
					<td><%= link_to customer.last_name + customer.first_name, managers_customer_path(customer.id) %></td>
					<td><%= customer.phone_number1.to_s + "-" + customer.phone_number2 + "-" + customer.phone_number3 %></td>
				</tr>
			<% end %>
		</table>
		<%= paginate @customers, class: "paginate" %>
	</div>
</div>
