
<!--- 商品情報 -->
<div class="container padding">
    <hr class="my-4">
    <div class="row padding">
      <div class="col-lg-5 col-lg-offset-1">
        <img src="https://www.pakutaso.com/shared/img/thumb/00_PP59_PP_TP_V.jpg" class="img-size">
      </div>
      <div class="col-lg-6">
        <h2><%= @product.name %></h2>
        <p>アーティスト名: シューベルト</p>
        <ul class="cp_tag01">
          <li><a href="#">clsssic</a></li>
        <p class="price"><%= "¥ #{@product.price.to_s(:delimited)} 税込" %></p>
        </ul>
        <p class="amount">数量</p>
        <form action="#" method="post" class="form-position">
          <input type="text" name="name"></p>
        </form>
      </div>
    </div>
    <hr class="my-4">
</div>

<div class="container">
    <div class="icon-field">
      <button type="button" class="btn btn-block btn-info">カートに入れる</button>
      <i class="fas fa-thumbs-up"></i>
      <i>17いいね!</i>
    </div>
</div>

<div class="container">
    <hr class="my-4">
    <div class="product-release">
      <h4>商品の情報</h4>
      <p>発売日  2019/11/30</p>
      <p>レーベル名  Avex</p>
    </div>
    <hr class="my-4">
    <div class="product-description">
      <h4>商品説明</h4>
      <p><%= @product.description %></p>
    </div>
    <hr class="my-3">
</div>

<div class="container">
  <h4>構成数:2枚組</h4>
  <br>
  <p>曲名</p>
  <div class="disk-info">
    <div class="disk1">
      <p>Disk1</p>
      <p>ヴォルフガング・アマデウス・モーツァルト</p>
      <p>1.セレナーデ</p>
      <p>2.アマデウス</p>
    </div>
    <div class="disk2">
      <p>Disk2</p>
      <p>ブラームス</p>
      <p>1.交響曲1~4</p>
      <p>2.アルトラプソディ</p>
    </div>
  </div>
  <hr class="my-4">
</div>

<!--- レビュー一覧 -->
<div class="container">
  <div class="review">
    <p>レビュー評価</p>
    <p>タイトル</p>
    <p>日付</p>
    <p>商品名</p>
    <p>review body review bodyreview body review bodyreview body review bodyreview body review bodyreview body review body</p>
  </div>
  <hr class="my-4">
</div>

<!--- レビュー投稿 -->

<div class="container">
</div>
